.player{
    display:grid;
    grid-template-columns: 4fr 1fr;
}
.player-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.selectedPlayer{
    background-color: rgb(240, 183, 183);
}

@media only screen and (max-width: 600px) {
    .player-container{
        display:grid;
        grid-template-columns: repeat(1,1fr);
    }
  }