.hire-container{
    position:sticky;
    top:0;
    text-align: center;
}
.listed-player img{
    width:50px;
    height:50px;
}
button{
    cursor: pointer;
    font-weight: bold;
    font-size:15px;
    color: rgb(49, 56, 54);
}
